<!DOCTYPE html>
<html>
	<head>
		<title>Forecast Chart | Zach Taylor</title>
		<link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div id="header" class="cf">
			<div class="container cf">
				<div class="left">
					<h1 id="logo">Forecast Chart</h1>
				</div>
				<div class="right">
					<p><a target="_blank" href="https://darksky.net/poweredby/">Powered by Dark Sky</a></p>
				</div>
			</div>
		</div>
		<div class="container cf">
			{{{body}}}
		</div>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl05sWTILmCCudEdX0sbv4XjkWK5L5ChI"></script>
		<script src="/javascripts/bundle.js"></script>
	</body>
</html>
